* {
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
}

li {
    float: right;
}

nav a {
    padding: 2px;

}

li {
    background-color: burlywood;
    display: inline;
    margin-right: 20px;
}

.h-buttons {
    margin-top: 450px;
    margin-bottom: 100px;
}

.h-buttons button {
    border-radius: 40px;
    color: black;
}

.intro {
    background-image: url(../images/pizza4.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 620px;
    text-align: right;
    color: rgb(34, 177, 15);
}

.text-center p {
    margin-top: 300px;
}

#spantext {
    color: rgb(255, 0, 212);
}

.exc {
    color: rgb(209, 25, 169);
}

#piz-pap {
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
    font-weight: normal;
    color: black;
}

#order-pizza {
    color: #000;
}

.order {
    background-color: black;
}

#list li {
    font-size: 24px;
    font-family: system-ui, serif;
}

.order-summary h1,
.summary,
.contact {
    color: #000;
    font-family: 'Love Ya Like A Sister', cursive;
    margin-top: 30px;
}

.col-space {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
}

.menu {
    height: 300px;
}

.customerdata {
    display: none;
}

.contact>h2 {
    text-align: center;
    color: rgb(187, 35, 35);
    font-weight: bold;
    padding: 25px;
}

#form1,
#form2,
#form3 {
    background-color: transparent;
}

textarea {
    width: 100%;
    height: 200px;
    color: white;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#sayhi ::placeholder {
    color: white;
}

#sayhi input {
    color: white;
    background-color: transparent;
}

.finalAmount,
.delivery-cost {
    font-weight: bold;
    font-size: 1.6em;
}

.hidden {
    display: none;
}

.checkout-options,
.location {
    background: rgb(255, 0, 234);
    padding: 20px;
    width: 80%;
    height: 60vh;
}